.instagram-icon {
  background: linear-gradient(
    135deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  color: white;
  border-radius: 50px;
}

@keyframes first-border-radius-animation {
  0%,
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 40% 80% 50% 60% / 50% 60% 40% 80%;
  }
}

.two {
  animation: first-border-radius-animation 4s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 9px rgba(23, 158, 255, 0.725);
  padding: 5px;
}

.one {
  animation: first-border-radius-animation 4s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.607);
}

@media (min-width: 0px) {
  .one img{
    min-width: 285px;
  }
}

@media (min-width: 350px) {
  .one img{
    min-width: 380px;
  }
}

@media (min-width: 500px) {
  .one img{
    min-width: 450px;
  }
}


@media (min-width: 640px) {
  .one img{
    min-width: 650px;
  }
}


@media (min-width: 768px) {
  .one img{
    min-width: 400px;
  }
}


@media (min-width: 1024px) {
  .one img{
    min-width: 450px;
  }
}

@media (min-width: 1280px) {
  .one img{
    min-width: 650px;
  }
}