/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --bg: linear-gradient(90deg, rgb(130, 180, 255), rgb(0, 96, 240) 29%, rgb(0, 55, 138) 58%, rgb(48, 131, 255));
    --bg1: linear-gradient(90deg, rgb(3, 46, 112), rgb(0, 102, 255) 29%, rgb(1, 28, 69) 58%, rgb(0, 102, 255));
}

body{
  background: white;
}

.maxh::-webkit-scrollbar {
    display: none;
  }
  
  /* For Firefox */
  .maxh {
    scrollbar-width: none; /* hides scrollbar */
    -ms-overflow-style: none;  /* IE 10+ */
  }
  
  /* Additional fix for Firefox */
  .maxh::-webkit-scrollbar{
    width: 0;
    height: 0;
  }

  /* Webkit-based browsers (Chrome, Safari, Edge) */
html::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

@media (max-width: 748px ) {
  html::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
  }
}

/* Track */
html::-webkit-scrollbar-track {
  background: rgb(124, 216, 255); /* Gradient background */
}

/* Handle */
html::-webkit-scrollbar-thumb {
  background-color: #0077bc; /* Thumb color */
  border-radius: 6px; /* Rounded corners */
}

  /* .hidden-scrollbar{
    background: rgba(255, 255, 255, 0.389);
  } */

  .gradient{
    background: var(--bg1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.bg-gradient{
  background: var(--bg1);
}

.bg-gradient1{
    background: var(--bg);
}

